body {
    background-color: #101820;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #00ff88;
}

#score,
#highScore {
    font-size: 22px;
    margin: 8px;
}

canvas {
    background-color: #071a12;
    border: 3px solid #00ff88;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ff88;
    border: none;
    cursor: pointer;
}
